name: Create Release PR

on:
  push:
    branches-ignore:
      - 'release/**'

jobs:
  create-release-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Create Release PR
        uses: cpdevtools/git-flow/actions/create-release-pr@main
        with:
          branch: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          versions-file: .github/versions.yml
          run-number: ${{ github.run_number }}
